@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.bg-grey {
    background-color: #F6F6F6;
}

.S1-img {
    border-radius: 37px;
}

.main-head {
    max-width: 82.5%;
    color: var(--black1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'nunito', sans-serif;
    font-size: var(--large2);
    font-style: normal;
    font-weight: 900;
    line-height: 133.4%;
    letter-spacing: 0.88px;
}

.main-para {
    max-width: 437px;
    color: var(--black1);
    font-family: 'Lora', sans-serif;
    font-size: var(--medium1);
    font-style: normal;
    font-weight: 400;
    line-height: 176%;
    letter-spacing: 0.36px;
}

.ml-5 {
    margin-left: 48px;
}

.yellow-btn {
    background-color: var(--yellow1);
    color: var(--white1);
    font-family: 'nunito', sans-serif;
    font-size: var(--medium1);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    padding: 12px 21px 11px 21px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.S2-head {
    color: var(--black1);
    font-family: 'Nunito', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 133.4%;
    letter-spacing: 0.88px;
    position: relative;
}

.S2-head::after {
    position: absolute;
    content: '';
    width: 145px;
    height: 6px;
    opacity: 0.7;
    background: #FBCC04;
    top: 42.5px;
    left: 48.25%;
    z-index: -1;
}

.grey-box {
    width: 157px;
    height: 48px;
    border-radius: 5px;
    /* border: 2px solid #F7F7F7; */
    background: #FFF;
    box-shadow: 0px 10px 40px -12px rgba(196, 196, 196, 0.35);
    transition: all 300ms linear
}

.grey-box1 {
    width: 232px;
    height: 48px;
    border-radius: 5px;
    /* border: 2px solid #F7F7F7; */
    background: #FFF;
    box-shadow: 0px 10px 40px -12px rgba(196, 196, 196, 0.35);
    transition: all 300ms linear
}

.grey-box2 {
    width: 120px;
    height: 48px;
    border-radius: 5px;
    /* border: 2px solid #F7F7F7; */
    background: #FFF;
    box-shadow: 0px 10px 40px -12px rgba(196, 196, 196, 0.35);
    transition: all 300ms linear
}

.grey-box-text {
    color: var(--grey1);
    font-family: 'Nunito', sans-serif;
    font-size: var(--medium1);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    transition: all 300ms linear;
}

.grey-line {
    width: 160px;
    height: 2px;
    background-color: #F7F7F7;
    z-index: -1;
    transition: all 300ms linear
}

.grey-line1 {
    width: 100px;
    height: 2px;
    background-color: #F7F7F7;
    z-index: -1;
    left: -10%;
    transition: all 300ms linear
}

.grey-line2 {
    width: 120px;
    height: 2px;
    background-color: #F7F7F7;
    z-index: -1;
    left: -30%;
    transition: all 300ms linear
}

.grey-circle {
    width: 22px;
    height: 22px;
    background-color: #F7F7F7;
    border-radius: 50%;
    left: -30%;
    transition: all 300ms linear
}

.grey-circle1 {
    width: 22px;
    height: 22px;
    background-color: #F7F7F7;
    border-radius: 50%;
    left: -20%;
    transition: all 300ms linear
}

.grey-circle2 {
    width: 22px;
    height: 22px;
    background-color: #F7F7F7;
    border-radius: 50%;
    left: -40%;
    transition: all 300ms linear
}

.grey-box:hover {
    background-color: var(--yellow1);
    cursor: pointer;
}

.grey-box1:hover {
    background-color: var(--yellow1);
    cursor: pointer;
}

.grey-box2:hover {
    background-color: var(--yellow1);
    cursor: pointer;
}

.grey-box:hover div {
    background-color: var(--yellow1);
}

.grey-box1:hover div {
    background-color: var(--yellow1);
}

.grey-box2:hover div {
    background-color: var(--yellow1);
}

.grey-box:hover p {
    color: white;
}

.grey-box1:hover p {
    color: white;
}

.grey-box2:hover p {
    color: white;
}

::placeholder {
    color: var(--grey1);
    font-family: 'Nunito', sans-serif;
    font-size: var(--medium1);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
}

.search {
    border: none;
    padding-left: 16px;
    color: var(--black1);
    font-family: 'Nunito', sans-serif;
    font-size: var(--medium1);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    border-bottom: 1px solid #c4c4c4;
    outline: 0;
}

.mr-3 {
    margin-right: 12px;
}

.search-svg:hover {
    cursor: pointer;
}

.S2-box {
    padding: 9px 11px 21px 10px;
    border-radius: 15px;
    border: 1px solid rgba(250, 202, 16, 0.40);
    background: #FFF;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.09);
}

.box-head {
    color: var(--black1);
    font-family: 'Nunito', sans-serif;
    font-size: var(--medium2);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pl-11 {
    padding-left: 11px;
}

.box-text {
    color: var(--black1);
    font-family: 'Lora', sans-serif;
    font-size: var(--small3);
    font-style: normal;
    font-weight: 400;
    line-height: 176%;
    letter-spacing: 0.34px;
}

.box-grey-line {
    width: 100%;
    height: 1px;
    background-color: #F3F3F3;
}

.box-btn {
    padding: 11px 30px 10px 30px;
    background-color: var(--black1);
    border-radius: 5px;
    border: 1px solid transparent;
    color: var(--white1);
    font-family: 'Nunito', sans-serif;
    font-size: var(--medium1);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    transition: all 300ms linear;
}

.box-btn:hover {
    background: #FACA10;
    box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);
}

.img-radius{
    border-radius: 40px;
}

.col-4{
    width: 30% !important;
}